extends ../../../views/layout

block seo-metadata
	- var title = seoTitle
	- var description = seoDescription

block content
	h1=seoTitle

	form.book(action='#', method='post')

		label(for='title') Book title
		input#title(
			type='text',
			name='title',
			placeholder='Enter the book title',
			value=item.title
		)
		<br/>
		label(for='description') Description
		input#description(
			type='textarea',
			name='description',
			placeholder='Enter the book description or summary',
			value=item.description
		)
		<br/>
		label(for='number-of-chapters') Number of chapters
		input#number-of-chapters(
			type='number',
			name='number of chapters',
			placeholder='1',
			value=item.numberOfChapters
		)
		<br/>
		label(for='published-date') Date of published
		input#published-date(
			type='date',
			name='published date',
			placeholder='01/01/2000',
			value=item.publishedDate
		)
		<br/>
		label(for='series') Series
		input#series(
			type='text',
			name='series',
			placeholder='1',
			value=item.seriesId
		)
		<br/>

		button#submit Submit
