extends ../../../views/layout

block seo-metadata
	- var title = seoTitle
	- var description = seoDescription

block content
	h1=seoTitle

	div.item-brief
		div #{item.coverPicture}
		div #{item.description}
		div #{item.publishedDate}
		div #{item.seriesId}
		div #{item.numberOfChapters}
		div #{item.updatedDate}
